<!DOCTYPE html>
<html>
    <head>
        <title>Palo Alto</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href='https://fonts.googleapis.com/css?family=Lato&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="../styles/style.css"/>
    </head>
	<body class="body">
		<div class="progress-bar"></div>
		<div class="page">
			<header class="header">
				<a href="#" class="link_img"><div class="header__logo"></div></a>
				<nav class="header__nav">
					<ul>
						<li class="nav-item"><a href="index.html" class="nav__link_header">home</a></li>
						<li class="nav-item"><a href="#" class="nav__link_header">about</a></li>
						<li class="nav-item"><a href="#" class="nav__link_header">archive</a></li>
						<li class="nav-item"><a href="#" class="nav__link_header_inactive">contact</a></li>
						<li class="nav-item"><a href="#" class="link_img"><img src="../images/Search.png"></a></li>
					</ul>
				</nav>
			</header>
			<main class="main">
				<section class="section">
					<article class="article">
						<header>
							<h2 class="article__heading">Contact Us</h2>
						</header>
						<p class="article__text">Nam in maximus arcu, ac aliquam tellus. Donec vestibulum ipsum nunc, at placerat ante posuere non. Integer at dui a lacus suscipit elementum id non massa. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nunc eu neque eros. Ut eu quam justo.</p>
						<div class="article__bar"></div>
						<form>
							<input type="text" class="form__input_name" placeholder="Your Name">
							<input type="text" class="form__input_email" placeholder="Email">
							<input type="text" class="form__input_subject" placeholder="Subject">
							<input type="text" class="form__input_message" placeholder="Your Message">
						</form>
						<footer class="article__footer">
							<div><a class="article__footer-readmore" href="#">SEND MESSAGE</a></div>
						</footer>
					</article>
				</section>
			</main>
		</div>
		
		<footer class="footer">
			<div class="footer__logo"></div>
			<nav class="footer__nav">
					<ul>
						<li class="nav-item"><a href="index.html" class="nav__link_footer">home</a></li>
						<li class="nav-item"><a href="#" class="nav__link_footer">about</a></li>
						<li class="nav-item"><a href="#" class="nav__link_footer">archive</a></li>
						<li class="nav-item"><a href="#" class="nav__link_footer_inactive">contact</a></li>
						<li class="nav-item"><a href="#" class="link_img"><img src="../images/footerSearch.png"></a></li>
					</ul>
				</nav>
			<div class="footer__text_border">Nunc placerat dolor at lectus hendrerit dignissim. Ut tortor sem, consectetur nec hendrerit ut, ullamcorper ac odio. Donec viverra ligula at quam tincidunt imperdiet. Nulla mattis tincidunt auctor.</div>
			<p class="footer__text">© 2015 - Palo Alto. All Rights Reserved. Designed & Developed by <a href="#" class="footer__developers">PixelBuddha Team</a></p>
			<div class="footer__share">
					<ul>
						<li class="footer__share__item"><a href="#" class="footer__share__item_fb"></a></li>
						<li class="footer__share__item"><a href="#" class="footer__share__item_twitter"></a></li>
						<li class="footer__share__item"><a href="#" class="footer__share__item_instagram"></a></li>
						<li class="footer__share__item"><a href="#" class="footer__share__item_pinterest"></a></li>
					</ul>
				</div>
		</footer>
	</body>
</html>