<!DOCTYPE html>
<html>
    <head>
        <title>Palo Alto</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href='https://fonts.googleapis.com/css?family=Lato&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="../styles/style.css"/>
    </head>
	<body class="body">
		<div class="progress-bar"></div>
		<div class="page">
			<header class="header">
				<a href="#" class="link_img"><div class="header__logo"></div></a>
				<nav class="header__nav">
					<ul>
						<li class="nav-item"><a href="index.html" class="nav__link_header_inactive">home</a></li>
						<li class="nav-item"><a href="#" class="nav__link_header">about</a></li>
						<li class="nav-item"><a href="#" class="nav__link_header">archive</a></li>
						<li class="nav-item"><a href="#" class="nav__link_header">contact</a></li>
						<li class="nav-item"><a href="contact.html" class="link_img"><img src="../images/Search.png"></a></li>
					</ul>
				</nav>
			</header>
			<main class="main">
				<section class="section">
					<article class="article">
						<header>
							<div class="article__date">Sep 20</div>
							<h2 class="article__heading">No difference how many peaks you reach if there was no pleasure in the climb.</h2>
						</header>
						<a href="#"><span class="article__tag">I Do Travel</span></a>
						<div class="article__bar"></div>
						<p class="article__text">Quisque congue lacus mattis massa luctus, nec hendrerit purus aliquet. Ut ac elementum urna. Pellentesque suscipit metus et egestas congue. Duis eu pellentesque turpis, ut maximus metus. Sed ultrices tellus vitae rutrum congue. Fusce luctus augue id nisl suscipit, vel sollicitudin orci egestas. Morbi posuere venenatis ipsum, ac vestibulum quam dignissim efficitur. Ut vitae rutrum augue, in volutpat quam. Cras a viverra ipsum. Aenean ut consequat ex, vitae vulputate nunc. Vestibulum metus nisi, aliquam sed tincidunt sit amet, pretium et augue.</p>
						<footer class="article__footer">
							<div><a class="article__footer-readmore" href="#">READ MORE</a></div>
							<nav class="article__footer-hashtags">
								<ul>
									<li class="article__footer-hashtags-item"><a href="#" class="hashtag__link">#Yosemite</a></li>
									<li class="article__footer-hashtags-item"><a href="#" class="hashtag__link">#Peak</a></li>
									<li class="article__footer-hashtags-item"><a href="#" class="hashtag__link">#Explorer</a></li>
								</ul>
							</nav>
						</footer>
					</article>
					<a href="#" class="picture"><img src="../images/img.jpg"></a>
					<article class="article">
						<header>
							<div class="article__date">Sep 18</div>
							<h2 class="article__heading">You know, I'd rather argue with you, then laugh with anyone else.</h2>
						</header>
						<a href="#" class="article__tag"><span>I Do Observe</span></a>
						<div class="article__bar"></div>
						<p class="article__text_cursive-grey">Curabitur luctus placerat lorem id eleifend. Nulla ac lacus finibus, tempor velit hendrerit, vulputate lacus. Nunc fermentum nunc sem, ac eleifend tellus cursus nec. Donec a euismod est, vitae accumsan purus. Proin aliquet ex massa, ac finibus magna commodo vitae.
						</p>
						<p class="article__text">Quisque congue lacus mattis massa luctus, nec hendrerit purus aliquet. Ut ac elementum urna. Pellentesque suscipit metus et egestas congue. Duis eu pellentesque turpis, ut maximus metus. Sed ultrices tellus vitae rutrum congue. Fusce luctus augue id nisl suscipit, vel sollicitudin orci egestas. Morbi posuere venenatis ipsum, ac vestibulum quam dignissim efficitur. Ut vitae rutrum augue, in volutpat quam. Cras a viverra ipsum. Aenean ut consequat ex, vitae vulputate nunc. Vestibulum metus nisi, aliquam sed tincidunt sit amet, pretium et augue.</p>
						<p class="article__text">Sed sagittis commodo dolor. Vivamus elementum sem sed sapien bibendum viverra. Curabitur semper scelerisque turpis eu ullamcorper. Morbi tincidunt auctor orci id consequat. Nulla odio mi, iaculis id congue quis, euismod id nisi. In varius congue diam, et viverra lorem bibendum ut.
						</p>
						<footer class="article__footer">
							<div><a class="article__footer-readmore" href="#">READ MORE</a></div>
							<nav class="article__footer-hashtags">
								<ul>
									<li class="article__footer-hashtags-item"><a href="#" class="hashtag__link">#Yosemite</a></li>
									<li class="article__footer-hashtags-item"><a href="#" class="hashtag__link">#Peak</a></li>
									<li class="article__footer-hashtags-item"><a href="#" class="hashtag__link">#Photo</a></li>
								</ul>
							</nav>
						</footer>
					</article>
					<article class="article">
						<header>
							<div class="article__date">Sep 11</div>
							<h2 class="article__heading">Democracy means simply the bludgeoning of the people by the people for the people.</h2>
						</header>
						<a href="#"><span class="article__tag">I Do Reflect</span></a>
						<div class="article__bar"></div>
						<div class="article__picture-woman"><img src="../images/picture.jpg"></div>
						<p class="article__text">Quisque congue lacus mattis massa luctus, nec hendrerit purus aliquet. Ut ac elementum urna. Pellentesque suscipit metus et egestas congue. Duis eu pellentesque turpis, ut maximus metus. Sed ultrices tellus vitae rutrum congue. Fusce luctus augue id nisl suscipit, vel sollicitudin orci egestas. Morbi posuere venenatis ipsum, ac vestibulum quam dignissim efficitur. Ut vitae rutrum augue, in volutpat quam. Cras a viverra ipsum. Aenean ut consequat ex, vitae vulputate nunc. Vestibulum metus nisi, aliquam sed tincidunt sit amet, pretium et augue.</p>
						<p class="article__text">Mauris sem odio, rhoncus eget euismod sed, pellentesque sit amet felis. Praesent dictum eleifend dui et efficitur. Nunc non orci in neque sodales semper. Etiam euismod volutpat lorem, <a href="#" class="article__link">vestibulum malesuada</a> justo aliquet eget. Nunc lacus ante, varius a euismod eu, finibus commodo erat. Curabitur tincidunt sit amet nunc id interdum. Aliquam augue nisi, venenatis vitae ex at, lobortis fringilla nibh. Proin placerat enim vitae egestas eleifend. Aliquam quis orci dignissim, posuere nibh a, eleifend augue. Cras quis metus nec tortor aliquet ullamcorper. Quisque varius porta metus, ut maximus dolor euismod nec. Suspendisse sit amet feugiat turpis.
						</p>
						<p class="article__text_grey">Curabitur ut leo pulvinar, consectetur magna eu, feugiat purus. Morbi hendrerit lectus turpis, a porttitor velit imperdiet id.</p>
						<p class="article__text">Nunc placerat dolor at lectus hendrerit dignissim. Ut tortor sem, consectetur nec hendrerit ut, ullamcorper ac odio. Donec viverra ligula at quam tincidunt imperdiet. Nulla mattis tincidunt auctor. Nullam scelerisque ante mauris, egestas commodo nisi gravida ultrices. Suspendisse dapibus feugiat tincidunt. Aliquam gravida quam at ipsum sagittis bibendum.
						</p>
						<footer class="article__footer">
							<div><a class="article__footer-readmore" href="#">READ MORE</a></div>
							<nav class="article__footer-hashtags">
								<ul>
									<li class="article__footer-hashtags-item"><a href="#" class="hashtag__link">#Democracy</a></li>
									<li class="article__footer-hashtags-item"><a href="#" class="hashtag__link">#Introspection</a></li>
								</ul>
							</nav>
						</footer>
					</article>
				</section>
			</main>
		</div>
		
		<footer class="footer">
			<div class="footer__logo"></div>
			<nav class="footer__nav">
					<ul>
						<li class="nav-item"><a href="index.html" class="nav__link_footer_inactive">home</a></li>
						<li class="nav-item"><a href="#" class="nav__link_footer">about</a></li>
						<li class="nav-item"><a href="#" class="nav__link_footer">archive</a></li>
						<li class="nav-item"><a href="#" class="nav__link_footer">contact</a></li>
						<li class="nav-item"><a href="#" class="link_img"><img src="../images/footerSearch.png"></a></li>
					</ul>
				</nav>
			<div class="footer__text_border">Nunc placerat dolor at lectus hendrerit dignissim. Ut tortor sem, consectetur nec hendrerit ut, ullamcorper ac odio. Donec viverra ligula at quam tincidunt imperdiet. Nulla mattis tincidunt auctor.</div>
			<p class="footer__text">© 2015 - Palo Alto. All Rights Reserved. Designed & Developed by <a href="#" class="footer__developers">PixelBuddha Team</a></p>
			<div class="footer__share">
					<ul>
						<li class="footer__share__item"><a href="#" class="footer__share__item_fb"></a></li>
						<li class="footer__share__item"><a href="#" class="footer__share__item_twitter"></a></li>
						<li class="footer__share__item"><a href="#" class="footer__share__item_instagram"></a></li>
						<li class="footer__share__item"><a href="#" class="footer__share__item_pinterest"></a></li>
					</ul>
				</div>
		</footer>
	</body>
</html>