{% for item in articles %}				
					<article class="article">
                          {% for item in item.headimage -%}
                              <a href="#"><img  class="picture" srcset="{{item.img}} 1x, {{item.img2x}}"  alt="{{item.alt}}"></a>
                          {%- endfor %}
						<a href="#" class="article__tag"><span>{{item.tag}}</span></a>
						<header>
							<div class="article__date">{{item.date}}</div>
							<h2 class="article__heading">{{item.header}}</h2>
						</header>
						<div class="article__bar"></div>
                        {% for item in item.image -%}
                              <img  class="article__picture-woman" srcset="{{item.img}} 1x, {{item.img2x}}"  alt="{{item.alt}}">
                        {%- endfor %}
						<p class="article__text">{{item.text}}</p>
						<footer class="article__footer">
							<div><a class="article__footer-readmore" href="#">read more</a></div>
							<nav class="article__footer-hashtags">
								<ul>
                                    {% for item in item.hashtags -%}
                                        <li class="article__footer-hashtags-item"><a href="#" class="hashtag__link">{{item}}</a></li>
                                    {%- endfor %}
								</ul>
							</nav>
						</footer>
					</article>
{% endfor %}